.kgsheet-icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.kgsheet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  user-select: none;
}

.kgsheet_toolbar {
  width: 100%;
  height: 58px;
  background-color: rgb(244, 246, 247);
}

.kgsheet_content {
  width: 100%;
  height: calc(100% - 58px);
}

.kgsheet_target {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.kgsheet_toolBarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


.kgsheet_btn_label {
  margin-top: 3px;
  font-size: 12px;
  padding: 0 3px;
}

.kgsheet_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: rgb(41, 47, 54);
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: .1s all ease-in-out;
}

.kgsheet_btn:hover{
  background-color: rgba(127, 127, 127, 0.2);
}
.kgsheet_btn:active
{
  background-color: rgba(127, 127, 127, 0.4);
}

.kgsheet_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: .1s all ease-in-out;
}

.kgsheet_option:hover{
  background-color: rgba(127, 127, 127, 0.2);
}
.kgsheet_option:active{
  background-color: rgba(127, 127, 127, 0.4);
}

.kgsheet_option_popover .ant-popover-inner-content {
  padding: 2px;
  user-select: none;
}

.kgsheet_option_btn {
  display: flex;
  min-width: 100px;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: .1s all ease-in-out;
  margin: 3px;
}

.kgsheet_option_btn:hover{
  background-color: rgba(127, 127, 127, 0.2);
}
.kgsheet_option_btn:active{
  background-color: rgba(127, 127, 127, 0.4);
}

.kgsheet_toolBar_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.kgsheet_toolBar_group_no_warp {
  display: flex;
  height: 52px;
  justify-content: space-around;
  align-items: center;
}

.kgsheet_toolBar_group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  height: 52px;
  justify-content: space-around;
}

.kgsheet_toolBar_group_inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kgsheet_toolBar_line {
  height: 70%;
  margin: 0 8px;
}
.kgsheet_empty_tool {
  width: 24px;
  padding: 0 5px;
}



/* antd */
/* antd */
/* antd */
/* antd */
/* antd */

.ant-select-selector {
  border-radius: 5px !important;
  transition: .1s all ease-in-out !important;
}
.ant-select-selector:hover{
  background-color: rgba(127, 127, 127, 0.2) !important;
}
.ant-select-selector:active{
  background-color: rgba(127, 127, 127, 0.4) !important;
}