.tgsheet-icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.tgsheet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  user-select: none;
}

.tgsheet_toolbar {
  width: 100%;
  height: 58px;
  background-color: rgb(244, 246, 247);
}

.tgsheet_content {
  width: 100%;
  height: calc(100% - 58px);
}

.tgsheet_target {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.tgsheet_toolBarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.kgsheet_btn {
  padding: 1px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgb(41, 47, 54);
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}
.kgsheet_btn_label {
  margin-top: 3px;
  font-size: 12px;
}

.kgsheet_btn:hover{
  background-color: rgba(0,0,0, 0.1);
}
.kgsheet_btn:active{
  background-color: rgba(0,0,0, 0.2);
}

.kgsheet_toolBar_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.kgsheet_toolBar_group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kgsheet_toolBar_line {
  height: 100%;
  border-left: 1px solid rgba(0,0,0, 0.2);
  margin: 0 8px;
}