.kgsheet-icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.kgsheet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  user-select: none;
}

.kgsheet_toolbar {
  width: 100%;
  height: 58px;
  background-color: rgb(244, 246, 247);
}

.kgsheet_content {
  width: 100%;
  height: calc(100% - 58px - 28px);
}

.kgsheet_bottom {
  width: 100%;
  height: 28px;
  background-color: rgb(244, 246, 247);
}

.kgsheet_target {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.kgsheet_toolBarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.kgsheet_bottom_Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.kgsheet_btn_label {
  margin-top: 3px;
  font-size: 12px;
  padding: 0 3px;
}

.kgsheet_base_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: .1s all ease-in-out;
}


.kgsheet_base_btn:hover{
  background-color: rgba(127, 127, 127, 0.2);
}
.kgsheet_base_btn:active
{
  background-color: rgba(127, 127, 127, 0.4);
}

.kgsheet_btn {
  flex-direction: column;
}

.kgsheet_btn_disabled {
  cursor: not-allowed;
}
.kgsheet_btn_disabled:hover{
  background-color: transparent;
}
.kgsheet_btn_disabled:active
{
  background-color: transparent;
}

.kgsheet_active_color {
  background-color: rgba(76, 136, 255, 0.2);
}

.kgsheet_active_color:hover{
  background-color: rgba(76, 136, 255, 0.3);
}
.kgsheet_active_color:active
{
  background-color: rgba(76, 136, 255, 0.4);
}

.kgsheet_option {
  justify-content: space-between;
  height: 24px;
  padding: 0 5px;
}

.kgsheet_option:hover{
  background-color: rgba(127, 127, 127, 0.2);
}
.kgsheet_option:active{
  background-color: rgba(127, 127, 127, 0.4);
}

.kgsheet_option_popover .ant-popover-inner-content {
  padding: 2px;
  user-select: none;
}

.kgsheet_option_btn {
  display: flex;
  min-width: 100px;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: .1s all ease-in-out;
  margin: 3px;
}

.kgsheet_option_btn_normal:hover{
  background-color: rgba(127, 127, 127, 0.2);
}
.kgsheet_option_btn_normal:active{
  background-color: rgba(127, 127, 127, 0.4);
}

.kgsheet_option_btn_active {
  background-color: rgba(76, 136, 255, 0.2);
}
.kgsheet_option_btn_active:hover{
  background-color: rgba(76, 136, 255, 0.3);
}

.kgsheet_toolBar_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.kgsheet_toolBar_group_no_warp {
  display: flex;
  height: 52px;
  justify-content: space-around;
  align-items: center;
}

.kgsheet_toolBar_group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  height: 52px;
  justify-content: space-around;
}

.kgsheet_toolBar_group_inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kgsheet_toolBar_line {
  height: 70%;
  margin: 0 8px;
}
.kgsheet_empty_tool {
  width: 24px;
  padding: 0 5px;
}

.kgsheet_color_btn_container {
  height: 24px;
  position: relative;
}
.kgsheet_color_btn {
  padding: 0 3px;
  position: relative;
}
.kgsheet_color_sm_arrow {
  padding: 0 2px;
  height: 100%;
  margin: 0;
}
.kgsheet_color_bar  {
  width: 14px;
  height: 3px;
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin-left: -7px;
}

.kgsheet_color_store_container {
  padding: 5px;
  display: flex;
}
.kgsheet_color_store_row {
  display: flex;
  flex-direction: column;
}
.kgsheet_color_panel {
  width: 20px;
  margin: 4px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid transparent;
  position: relative;
}

.kgsheet_recent_color_row {
  padding: 5px;
  display: flex;
}

.kgsheet_color_panel:hover::before {
  content: "";
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  position: absolute;
  left: -3px;
  top: -3px;
  box-shadow: 0 0 0 2px #4a89fe;
  border-radius: 4px;
}

.kgsheet_color_panel_selected {
  font-size: 18px;
  position: absolute;
  top: 0px;
  left: -1px;
}

.kgsheet_recent_color_span {
  margin: 8px;
  font-size: 12px;
}

.kgsheet_more_color {
  width: calc(100% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 5px 3px;
}

.kgsheet_more_color_label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kgsheet_more_color_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
/* 右键panelcss */
.kgsheet_panel_point {
  position: absolute;
  width: 0px;
  height: 0px;
}



/* antd */
/* antd */
/* antd */
/* antd */
/* antd */

.ant-select-selector {
  border-radius: 5px !important;
  transition: .1s all ease-in-out !important;
}
.ant-select-selector:hover{
  background-color: rgba(127, 127, 127, 0.2) !important;
}
.ant-select-selector:active{
  background-color: rgba(127, 127, 127, 0.4) !important;
}