.kgsheet-icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.kgsheet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  user-select: none;
}

.kgsheet_toolbar {
  width: 100%;
  height: 58px;
  background-color: rgb(244, 246, 247);
}

.kgsheet_content {
  width: 100%;
  height: calc(100% - 58px);
}

.kgsheet_target {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.kgsheet_toolBarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.kgsheet_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgb(41, 47, 54);
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}
.kgsheet_btn_label {
  margin-top: 3px;
  font-size: 12px;
  padding: 0 3px;
}

.kgsheet_btn:hover{
  background-color: rgba(127, 127, 127, 0.2);
}
.kgsheet_btn:active{
  background-color: rgba(127, 127, 127, 0.4);
}

.kgsheet_toolBar_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.kgsheet_toolBar_group_no_warp {
  display: flex;
  height: 52px;
  justify-content: space-around;
}

.kgsheet_toolBar_group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 52px;
  justify-content: space-around;
}
.kgsheet_toolBar_line {
  height: 70%;
  margin: 0 8px;
}
.kgsheet_empty_tool {
  width: 24px;
  padding: 0 5px;
}