@font-face {
  font-family: "iconfont"; /* Project id 3775507 */
  src: url('iconfont.svg?t=1668613265125#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sheet_icona-alignbottom:before {
  content: "\e64c";
}

.sheet_icona-alignleft:before {
  content: "\e64d";
}

.sheet_icona-alignright:before {
  content: "\e64e";
}

.sheet_icona-aligntop:before {
  content: "\e64f";
}

.sheet_iconascending:before {
  content: "\e650";
}

.sheet_iconbold:before {
  content: "\e651";
}

.sheet_icona-autowrap:before {
  content: "\e652";
}

.sheet_iconcut:before {
  content: "\e653";
}

.sheet_iconcomment:before {
  content: "\e654";
}

.sheet_iconcentre:before {
  content: "\e655";
}

.sheet_iconcancel:before {
  content: "\e656";
}

.sheet_icona-conditionalformat:before {
  content: "\e657";
}

.sheet_icona-bottomframe:before {
  content: "\e658";
}

.sheet_icondescending:before {
  content: "\e659";
}

.sheet_iconcurrency:before {
  content: "\e65a";
}

.sheet_icona-bgcolor:before {
  content: "\e65b";
}

.sheet_icona-arrowdown:before {
  content: "\e65c";
}

.sheet_iconformula:before {
  content: "\e65d";
}

.sheet_icona-framecolor:before {
  content: "\e65e";
}

.sheet_icona-dropdownlist:before {
  content: "\e65f";
}

.sheet_icona-formantbrush:before {
  content: "\e660";
}

.sheet_iconframe:before {
  content: "\e661";
}

.sheet_icona-leftframe:before {
  content: "\e662";
}

.sheet_iconframeless:before {
  content: "\e663";
}

.sheet_icona-innerframe:before {
  content: "\e664";
}

.sheet_icona-deleteline:before {
  content: "\e665";
}

.sheet_icona-downframe:before {
  content: "\e666";
}

.sheet_iconoverflow:before {
  content: "\e667";
}

.sheet_iconfrozen:before {
  content: "\e668";
}

.sheet_icona-framestyle:before {
  content: "\e669";
}

.sheet_iconmerge:before {
  content: "\e66a";
}

.sheet_icona-fontcolor:before {
  content: "\e66b";
}

.sheet_iconitalics:before {
  content: "\e66c";
}

.sheet_iconpic:before {
  content: "\e66d";
}

.sheet_iconredo:before {
  content: "\e66e";
}

.sheet_icona-rightframe:before {
  content: "\e66f";
}

.sheet_icona-outframe:before {
  content: "\e670";
}

.sheet_icona-reducedecimals:before {
  content: "\e671";
}

.sheet_iconpersent:before {
  content: "\e672";
}

.sheet_iconscreen:before {
  content: "\e673";
}

.sheet_icona-topframe:before {
  content: "\e674";
}

.sheet_iconsearch:before {
  content: "\e675";
}

.sheet_icona-upperframe:before {
  content: "\e676";
}

.sheet_icona-verticalcenter:before {
  content: "\e677";
}

.sheet_iconunderline:before {
  content: "\e678";
}

.sheet_icona-increasedecimal:before {
  content: "\e679";
}

.sheet_iconlink:before {
  content: "\e67a";
}

